# config.py

venv/
.venv/
env/
env.bak/
pythonenv/
.conda/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

.ipynb_checkpoints/
*.ipynb

*.pt
*.pth
*.onnx
*.bin
*.h5
models/
ocr_cache/

plots/
*.jsonl
*.csv

dataset/
!data/README.md   # оставить только описание, если нужно
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.bmp

*.log
logs/

.env
*.env

*.tar.gz
*.zip